@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "GF1";
	src: url(./assets/fonts/adrip1_2-webfont.woff);
}

@font-face {
	font-family: "GF2";
	src: url(./assets/fonts/adrip1_2-webfont.woff2);
}

@font-face {
	font-family: "elan-medium";
	src: url(./assets/fonts/elan_at_medium_regular-webfont.woff);
}

@font-face {
	font-family: "inter-500";
	src: url(./assets/fonts/inter-v3-latin-500.woff);
}
@font-face {
	font-family: "inter-600";
	src: url(./assets/fonts/inter-v3-latin-600.woff);
}
@font-face {
	font-family: "inter-700";
	src: url(./assets/fonts/inter-v3-latin-700.woff);
}
@font-face {
	font-family: "inter-regular";
	src: url(./assets/fonts/inter-v3-latin-regular.woff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "elan-medium";
}

p {
	color: "white";
	font-family: "inter-500";
	line-height: 1.5;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 1.125rem;
}

.accordion_body {
	width: 800px;
	margin: 0 auto;
}

.accordion_list_item {
	background-color: black;
	border-left: none;
	border-right: none;
	border-top: 1px solid white;
}

.accordion_header {
	background-color: black;
	color: white;
	padding: 30px 30px 30px 30px;
}

.accordion_title {
	display: grid;
	grid-template-columns: 95% 1%;
	width: 800px;
	overflow-x: visible;
	margin-left: -30px;
	margin-top: 15px;
	text-align: left;
	color: white;
}

.accordion_question {
	font-size: 1.4rem;
}

.button {
	margin: 10px;
	cursor: pointer;
	padding: 0.8rem;
	border: 1px solid #9e0b0f;
	width: auto;
}

.button_label {
	color: white;
	text-transform: uppercase;
	line-height: 1;
	font-size: 18px;
}

.footer_body {
	margin-top: 50px;
	position: relative;
	bottom: 0;
}

.footer_message {
	font-size: 35px;
	color: white;
	margin-left: 19px;
}

.footer_content {
	text-align: left;
	font-size: 11px;
	color: white;
}

.footer_nav {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 2fr;
	margin: 0 auto;
	max-width: 1400px;
	padding-top: 250px;
	align-items: center;
}

.footer_links {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	margin-bottom: 30px;
}

.link_padding {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
}

.footer_message_container {
	/* width: 100%; */
	margin: 0 auto;
}

.footer_marker {
	color: #9e0b0f;
	font-family: "GF1";
	text-transform: lowercase;
	font-size: 75px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 400;
}

.paint {
	font-family: "GF1";
	text-transform: lowercase;
	font-size: 6em;
	font-weight: 500;
}

.header_content_right {
	display: grid;
	height: auto;
	align-items: center;
}

.header_main {
	height: 99vh;
	width: 99vw;
	display: grid;
	grid-template-columns: 60% 40%;
	max-width: 1400px;
	max-height: 800px;
	margin: 0 auto;
}

.header_content_text {
	color: white;
	text-align: left;
	max-width: 600px;
}

.header_controls {
	overflow: visible;
	margin-left: -15px;
	text-align: left;
	grid-template-columns: 1fr 1fr;
}

.header_title {
	padding-top: 150px;
	color: white;
	font-size: 3.25rem;
	text-align: left;
}

.header_tagline {
	color: red;
	text-align: left;
	letter-spacing: 0em;
}

@media (max-width: 700px) {
	.accordion_body {
		width: 400px;
	}
	.accordion_title {
		width: 400px;
	}
	.button_label {
		font-size: 0.8rem;
	}
	.header_content_text {
		text-align: center;
	}
	.header_main {
		display: grid;
		grid-template-columns: none;
		margin: 0 auto;
	}
	.header_title {
		font-size: 2.5rem;
		margin: 0 auto;
		text-align: center;
	}

	.header_tagline {
		font-size: 5rem;
		margin: 0 auto;
		text-align: center;
	}
	.header_main_image {
		display: none;
	}
	.header_img_responsive {
		display: relative !important;
		margin-bottom: -100px;
		margin-top: 110px;
		margin-left: auto;
		margin-right: auto;
	}

	.header_controls {
		text-align: center;
	}
}

@media (min-width: 699px) {
	.header_img_responsive {
		display: none;
	}
}

.header_main_image {
	/* margin-top: 100px; */
	margin-right: 120px;
	z-index: -3;
	overflow: hidden;
	max-width: auto;
}

.img-overlay {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	background-size: cover;
}

.menu {
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	text-transform: none;
	cursor: pointer;
}

.nav_container {
	height: 70px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 100;
}

.nav_controls {
	max-width: 1400px;
	margin: 0 auto;
}

.mint_cards {
	height: 200px;
	width: 175px;
	border: 1px solid silver;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
}

.mint_card_padding {
	height: 340px;
	width: 235px;
	background: #2e2e2e30;
	border: 1px solid #fffffe40;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin-left: 10px;
}

.mint_cards:hover {
	border: 1.5px solid gold;
	opacity: 1;
}

.mint_attributes {
	margin-top: 10px;
	margin-left: 15px;
}

.mint_buying_option {
	text-align: left;
	color: #9e0b0f;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	cursor: pointer;
}

.mint_title {
	text-align: left;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}

.mint_price {
	font-weight: 600;
	text-align: left;
	color: #fffffc;
	font-size: 14px;
	line-height: 0.5;
}

.mint_collection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: auto;
	margin: 0 auto;
}

.mint_img {
	display: relative;
	overflow: hidden;
	align-items: center;
}

.minus_icon {
	font-size: 30px;
}
.plus_icon {
	font-size: 30px;
}

.roadmap {
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
}

.roadmap_header {
	color: white;
}

.roadmap_left {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.roadmap_right {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-items: end;
	flex-direction: row-reverse;
}

.roadmap_text {
	width: 500px;
}

/* .date::before {
	content: "";
	display: block;
	width: 6px;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #9e0b0f;
} */

/* @media screen (max-width: 700px) {
	.main_img {
		width: "300px";
	}
} */

.App {
	/* max-width: 100vw; */
}
